@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Merriweather&family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Merriweather&family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}

.custom-btn {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}



/* 12 */
.btn-12 {
  color: #0bf4f3;
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  width: 130px;
  height: 40px;
  line-height: 40px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.btn-12 span {
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  border: 1px solid #0bf4f3;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-12 span:nth-child(1) {
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
  background: #000;
  color: #000;
  box-shadow: 0 0 5px #0bf4f3, 0 0 5px #0bf4f3 inset;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* Section  */
.navbar-brand {
  position: relative;
  top: 46px;
  left: 60px;
  list-style: none;
  color: white;


}

.navbar-brand:hover {
  color: white;
}

.navbar-brand-right {
  position: relative;
  top: 46px;
  left: 987px;
  right: 0px;
  list-style: upper-alpha;
  color: white;
  /* border: 2px solid var(--color-secondary) */
  border-radius: 2px solid blue;
  list-style: none;



}

.navbar-brand-right:hover {
  color: white;
  list-style: none;
}

.row {
  background-color: red;
  position: relative;
  top: 208px;
  left: 0px;
  display: flex;
  text-align: center;
  text-decoration: none;
  overflow: hidden;

}

.flex-text {
  /* background-color: red; */
  position: relative;
  top: 208px;
  left: 0px;

}

#intro {
  font-family: RadikalW03, sans-serif;
  font-size: 3.375rem;
  font-weight: 900;
  line-height: 3.125rem;
  text-transform: uppercase;
  text-align: center;
  background-color: none;
  position: relative;
  left: 353px;
  top: -177px;
  font-family: 'Alkatra', cursive;
  font-family: 'Merriweather', serif;

}

p {
  position: relative;
  left: 334px;
  top: -182px;
  font-family: 'Alkatra', cursive;
  font-family: 'Merriweather', serif;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 0px;

  text-align: center;
  font-size: 1rem;

}
a,
li,
p {
 
  font-weight: 500;
  line-height: 1.6875rem;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#span{
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  top: 4px;
  left: 719px;
  right: 0px;
  text-align: center;
}



#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 82px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
  position: relative;
  top: 16px;
  left: 690px;
}
.gradient-border {
  --borderWidth: 3px;
  /* background: #1D1F20; */
  position: relative;
  border-radius: var(--borderWidth);
  font-size: ce;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



#box-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 53px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
  position: relative;
  top: 6px;
  left: 708px;
}
.gradient-border-1 {
  --borderWidth: 3px;
  /* background: #1D1F20; */
  /* background-color: rgb(255, 103, 230); */
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border-1:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


